{
  "dataDir": "/tmp/data",
  "userDir": "/tmp/users",
  "token": {
    "secret": "mysecret",
    "expiration": 3600000
  },
  "cookie": {
    "password": "mypassword",
    "name": "cookiename"
  },
  "server": {
    "host": "localhost",
    "port": 8765
  },
  "public": true,
  "user": false,
  "database": {
    "indexes": [
      {
        "type": "btree",
        "module": "terraformer-geostore-index-btree"
      }
    ]
  },
  "log": {
    "type": "file",
    "filename": "/tmp/db.log",
    "severity": "INFO"
  }
}
