{
  "dataDir": "/tmp/data",
  "logFile": "/tmp/http-level.log",
  "userDir": "/tmp/users",
  "token": {
    "secret": "mysecret",
    "expiration": 3600000
  },
  "server": {
    "host": "localhost",
    "port": 8765
  }
}
