{
  "dataDir": "/tmp/data",
  "logFile": "/tmp/http-level.log",
  "userDir": "/tmp/users",
  "token": {
    "secret": "mysecret",
    "expiration": 3600000
  },
  "cookie": {
    "password": "mypassword",
    "name": "cookiename"
  },
  "server": {
    "host": "localhost",
    "port": 8765
  },
  "public": true,
  "user": false
}
